openapi: 3.1.0
info:
  title: Master API
  version: 1.1.0
  description: API pública da Master para cobranças Pix, cartão e transferências Pix automáticas. Valores em centavos inteiros.
servers:
- url: https://api.pagmaster.site/api/v1/public
  description: Produção, após configurar DNS e HTTPS
- url: http://127.0.0.1:4000/api/v1/public
  description: Desenvolvimento local
security:
- bearerAuth: []
tags:
- name: Conta
  description: Saldo e limites da conta
- name: Pagamentos
  description: Consulta de operações
- name: Cobranças Pix
  description: Criação de cobranças
- name: Transferências Pix
  description: Envios automáticos autorizados por API key
- name: Operações de negócio
  description: Até 10 negócios com saldos e históricos independentes
- name: Cartão de crédito
  description: Checkout hospedado e consulta de aprovação e liquidação
paths:
  /account:
    get:
      tags:
      - Conta
      operationId: getAccount
      summary: Consultar conta
      description: Exige read. O saldo é o último valor confirmado do negócio selecionado.
      responses:
        '200':
          description: Estado da conta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
    parameters:
    - $ref: '#/components/parameters/BusinessOperationHeader'
  /payments:
    get:
      tags:
      - Pagamentos
      operationId: listPayments
      summary: Listar pagamentos
      description: Exige read. Retorna até 100 pagamentos do negócio selecionado.
      responses:
        '200':
          description: Operações recentes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentOperation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
    parameters:
    - $ref: '#/components/parameters/BusinessOperationHeader'
  /payments/{id}:
    parameters:
    - $ref: '#/components/parameters/OperationId'
    - $ref: '#/components/parameters/BusinessOperationHeader'
    get:
      tags:
      - Pagamentos
      operationId: getPayment
      summary: Consultar pagamento
      description: Exige read. Consulta da conta e negócio selecionado. Webhook primeiro; após 5 segundos sem atualização, agenda consulta autenticada ao
        provedor com limite e backoff. Não aprova pagamentos manualmente.
      responses:
        '200':
          description: Operação encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOperation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
  /pix/charges:
    post:
      tags:
      - Cobranças Pix
      operationId: createPixCharge
      summary: Criar cobrança Pix
      description: Exige permissão `charges`. Preserve o mesmo `requestKey` ao repetir a mesma cobrança.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCharge'
            example:
              amountCents: 10000
              payerName: Ana Souza
              description: Pedido 123
              requestKey: 1c35e888-9ab1-43c1-ac74-66e9be46c450
      responses:
        '201':
          description: Cobrança criada ou operação idempotente recuperada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOperation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/Unavailable'
    parameters:
    - $ref: '#/components/parameters/BusinessOperationHeader'
  /pix/transfers:
    post:
      tags:
      - Transferências Pix
      operationId: preparePixTransfer
      summary: Enviar transferência Pix automaticamente
      description: Exige transfers. A API key autoriza o envio sem código de e-mail. amountCents é o débito bruto com taxa incluída, mínimo 1000. Retorna
        debitAmountCents e expectedNetAmountCents. Preserve requestKey e consulte o mesmo ID em caso de resultado incerto. Bloqueios de saque e isolamento
        por negócio continuam aplicáveis.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransfer'
            example:
              amountCents: 5000
              pixKey: recebedor@exemplo.com
              pixKeyType: EMAIL
              description: Repasse
              requestKey: 4b2acc8a-b838-4640-956b-131da49588a4
      responses:
        '201':
          description: Envio solicitado; consulte pending, unknown ou completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOperation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/Unavailable'
    parameters:
    - $ref: '#/components/parameters/BusinessOperationHeader'
  /pix/transfers/{id}/confirm:
    parameters:
    - $ref: '#/components/parameters/OperationId'
    - $ref: '#/components/parameters/BusinessOperationHeader'
    post:
      tags:
      - Transferências Pix
      operationId: confirmPixTransfer
      summary: Confirmar transferência Pix
      description: Compatibilidade com rascunhos legados em draft. Novos envios por POST /pix/transfers são automáticos e não usam esta rota. Exige permissão
        `transfers`. O código de seis dígitos expira em 10 minutos e admite até cinco tentativas incorretas.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - code
              additionalProperties: false
              properties:
                code:
                  type: string
                  pattern: ^\d{6}$
                  example: '123456'
      responses:
        '201':
          description: Transferência submetida ou estado atual retornado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOperation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/Unavailable'
      deprecated: true
  /pix/transfers/{id}/cancel:
    parameters:
    - $ref: '#/components/parameters/OperationId'
    - $ref: '#/components/parameters/BusinessOperationHeader'
    post:
      tags:
      - Transferências Pix
      operationId: cancelPixTransfer
      summary: Cancelar transferência não confirmada
      description: 'Compatibilidade com rascunhos legados em draft. Novos envios por POST /pix/transfers são automáticos e não usam esta rota. Exige permissão
        `transfers`. Só cancela a operação enquanto o status for `draft`. Envie `Content-Type: application/json` e corpo `{}`.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
            example: {}
      responses:
        '201':
          description: Transferência cancelada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOperation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/Unavailable'
      deprecated: true
  /operations:
    get:
      tags:
      - Operações de negócio
      operationId: listBusinessOperations
      summary: Listar operações de negócio
      description: Exige read. Lista os negócios e seus saldos independentes.
      responses:
        '200':
          description: Operações da conta
          content:
            application/json:
              schema:
                type: object
                properties:
                  limit:
                    type: integer
                    const: 10
                  operations:
                    type: array
                    maxItems: 10
                    items:
                      $ref: '#/components/schemas/BusinessOperation'
                    minItems: 1
                  ownerId:
                    type: string
                    format: uuid
                    description: ID estável da conta
                required:
                - ownerId
                - limit
                - operations
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimit'
    post:
      tags:
      - Operações de negócio
      operationId: createBusinessOperation
      summary: Criar operação de negócio
      description: Exige operations. Limite de 10 incluindo a principal. requestKey torna a criação idempotente.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - name
              - requestKey
              properties:
                name:
                  type: string
                  minLength: 2
                  maxLength: 64
                requestKey:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Operação criada ou recuperada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessOperation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimit'
  /operations/{id}:
    parameters:
    - $ref: '#/components/parameters/BusinessOperationId'
    patch:
      tags:
      - Operações de negócio
      operationId: renameBusinessOperation
      summary: Renomear operação de negócio
      description: Exige operations. Não altera saldo nem histórico.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - name
              properties:
                name:
                  type: string
                  minLength: 2
                  maxLength: 64
      responses:
        '200':
          description: Operação renomeada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessOperation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
    delete:
      tags:
      - Operações de negócio
      operationId: deleteBusinessOperation
      summary: Excluir operação de negócio
      description: Exige operations. Mantém pelo menos uma operação ativa. Exige saldo zerado confirmado e nenhum pagamento em andamento. Preserva histórico
        para auditoria; a principal é substituída automaticamente quando excluída. Repetir a exclusão do mesmo ID é idempotente.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
            example: {}
      responses:
        '200':
          description: Operação excluída ou exclusão já concluída
          content:
            application/json:
              schema:
                type: object
                required:
                - ok
                properties:
                  ok:
                    type: boolean
                    const: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/Unavailable'
  /card/charges:
    post:
      tags:
      - Cartão de crédito
      operationId: createCardCharge
      summary: Criar cobrança no cartão
      description: 'Exige charges. R$5 a R$2.000, à vista; taxa padrão 424 centavos por aprovação. Retorna link hospedado com prazo de 30 minutos. Use o
        mesmo requestKey em repetições: checkout incerto não é recriado. Saldo fica retido até liberação confirmada da liquidante e crédito único no ledger do negócio.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCardCharge'
            example:
              amountCents: 4990
              name: Pedido 123
              description: Camiseta M
              payerName: Ana Souza
              requestKey: 6d2a1728-fb1c-4fc1-bf7c-b4fc89fd6e73
      responses:
        '201':
          description: Checkout criado ou operação com resultado ainda em verificação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOperation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/Unavailable'
    parameters:
    - $ref: '#/components/parameters/BusinessOperationHeader'
webhooks:
  masterPaymentEvent:
    post:
      tags:
      - Pagamentos
      operationId: masterPaymentEvent
      summary: Evento de pagamento enviado ao seu endpoint
      description: Verifique `X-Master-Signature` com o segredo `whsec_...` antes de processar. Responda 2xx em até 8 segundos.
      parameters:
      - in: header
        name: X-Master-Signature
        required: true
        schema:
          type: string
          example: t=1760000000,v1=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
      - in: header
        name: X-Master-Delivery
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEvent'
      responses:
        '200':
          description: Evento aceito pelo seu servidor
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key criada em Integrações → Keys. Exemplo `mk_live_...`.
  parameters:
    OperationId:
      name: id
      in: path
      required: true
      description: UUID da operação Master
      schema:
        type: string
        format: uuid
    BusinessOperationHeader:
      name: X-Master-Operation
      in: header
      required: false
      description: UUID do negócio selecionado. Sem este header, utiliza a operação principal.
      schema:
        type: string
        format: uuid
    BusinessOperationId:
      name: id
      in: path
      required: true
      description: UUID do negócio Master
      schema:
        type: string
        format: uuid
  responses:
    BadRequest:
      description: Dados inválidos ou conflito de idempotência
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: API key ausente, inválida ou revogada
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Permissão insuficiente
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Operação não encontrada nesta conta
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimit:
      description: Limite temporário de requisições
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unavailable:
      description: Processamento indisponível; preserve a referência e consulte a mesma operação antes de repetir.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Account:
      type: object
      required:
      - enabled
      - balanceCents
      - balanceUpdatedAt
      - minimumDepositCents
      - maximumDepositCents
      - operationId
      - feeCents
      - heldBalanceCents
      - withdrawalsFrozen
      - minimumWithdrawalCents
      - maximumWithdrawalCents
      - reservedWithdrawalCents
      - cardFeeCents
      - minimumCardCents
      - maximumCardCents
      properties:
        enabled:
          type: boolean
          description: Se o processamento de pagamentos está habilitado
        balanceCents:
          type: integer
          example: 9750
          description: Saldo disponível após reservas de saque, retenções administrativas e margem da Master
        balanceUpdatedAt:
          type:
          - integer
          - 'null'
          description: Última sincronização do saldo, em milissegundos Unix
        minimumDepositCents:
          type: integer
          example: 200
        maximumDepositCents:
          type: integer
          example: 200000
        minimumWithdrawalCents:
          type: integer
          const: 1000
        maximumWithdrawalCents:
          type: integer
          const: 1000000
        reservedWithdrawalCents:
          type: integer
          minimum: 0
          description: Saldo reservado para saques autorizados ainda não reconciliados
        operationId:
          type: string
          format: uuid
          description: Identificador do negócio
        feeCents:
          type: integer
          minimum: 0
        heldBalanceCents:
          type: integer
          minimum: 0
          description: Retenção administrativa do negócio principal, em centavos
        withdrawalsFrozen:
          type: boolean
          description: Bloqueio de saques da conta ou plataforma
        cardFeeCents:
          type: integer
          minimum: 0
          example: 424
          description: Tarifa por cartão aprovado
        minimumCardCents:
          type: integer
          const: 500
        maximumCardCents:
          type: integer
          const: 200000
    CreateCharge:
      type: object
      additionalProperties: false
      required:
      - amountCents
      - payerName
      - description
      - requestKey
      properties:
        amountCents:
          type: integer
          minimum: 200
          maximum: 200000
          example: 10000
        payerName:
          type: string
          minLength: 2
          maxLength: 100
        description:
          type: string
          maxLength: 200
          description: Use string vazia quando não houver descrição
        requestKey:
          type: string
          format: uuid
          description: UUID estável para repetir esta mesma cobrança sem duplicar
    CreateTransfer:
      type: object
      additionalProperties: false
      required:
      - amountCents
      - pixKey
      - pixKeyType
      - description
      - requestKey
      properties:
        amountCents:
          type: integer
          minimum: 1000
          maximum: 1000000
          description: Total descontado do saldo, incluindo a taxa do saque
        pixKey:
          type: string
          minLength: 3
          maxLength: 150
        pixKeyType:
          type: string
          enum:
          - EMAIL
          - CPF
          - CNPJ
          - PHONE
          - RANDOM
        description:
          type: string
          maxLength: 80
        requestKey:
          type: string
          format: uuid
    PaymentOperation:
      type: object
      required:
      - id
      - kind
      - amountCents
      - status
      - createdAt
      - operationId
      - feeCents
      - updatedAt
      - settledAt
      - paymentMethod
      - expiresAt
      properties:
        id:
          type: string
          format: uuid
        kind:
          type: string
          enum:
          - deposit
          - transfer
        amountCents:
          type: integer
        status:
          type: string
          enum:
          - draft
          - unknown
          - pending
          - paid
          - completed
          - failed
          - expired
          - cancelled
        createdAt:
          type: string
          format: date-time
        copyPaste:
          type: string
          description: Código Pix copia e cola quando fornecido pelo provedor
        qrCodeBase64:
          type: string
          description: Data URL PNG com QR Code quando fornecida pelo provedor
        endToEnd:
          type: string
        notice:
          type: string
        operationId:
          type: string
          format: uuid
          description: Identificador do negócio
        feeCents:
          type:
          - integer
          - 'null'
          minimum: 0
          description: Tarifa da conta registrada na criação
        updatedAt:
          type: string
          format: date-time
        settledAt:
          type:
          - string
          - 'null'
          format: date-time
        providerFeeCents:
          type: integer
          minimum: 0
          description: Tarifa confirmada pelo processamento quando informada
        netAmountCents:
          type: integer
          minimum: 0
          description: Valor líquido confirmado pelo processamento quando informado
        debitAmountCents:
          type: integer
          minimum: 1000
          description: Débito bruto do novo saque, com a tarifa da conta incluída
        expectedNetAmountCents:
          type: integer
          minimum: 1
          description: 'Líquido previsto do saque ou cartão: valor bruto menos tarifa da conta'
        paymentMethod:
          type:
          - string
          - 'null'
          enum:
          - pix
          - card
          - null
        expiresAt:
          type:
          - string
          - 'null'
          format: date-time
          description: Prazo do provedor, null quando não informado
        paidAt:
          type: string
          format: date-time
        checkoutUrl:
          type: string
          format: uri
          description: Checkout hospedado, somente cartão
        releaseAt:
          type: string
          format: date-time
          description: Liberação informada pela liquidante
        cardSettlementStatus:
          type: string
          enum:
          - held
          - available
        card:
          $ref: '#/components/schemas/CardDetails'
    WebhookEvent:
      type: object
      required:
      - id
      - type
      - createdAt
      - data
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - payment.pending
          - payment.paid
          - payment.expired
          - payment.failed
          - transfer.pending
          - transfer.completed
          - transfer.failed
          - transfer.cancelled
        createdAt:
          type: string
          format: date-time
        data:
          type: object
          required:
          - id
          - kind
          - status
          - amountCents
          - createdAt
          - updatedAt
          - operationId
          properties:
            id:
              type: string
              format: uuid
            kind:
              type: string
              enum:
              - deposit
              - transfer
            status:
              type: string
            amountCents:
              type: integer
            debitAmountCents:
              type: integer
              description: Total descontado em novos saques
            feeCents:
              type: integer
              minimum: 0
            expectedNetAmountCents:
              type: integer
              minimum: 1
            netAmountCents:
              type: integer
              minimum: 0
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
            operationId:
              type: string
              format: uuid
            paymentMethod:
              type: string
              enum:
              - pix
              - card
            releaseAt:
              type: string
              format: date-time
    Error:
      type: object
      properties:
        statusCode:
          type: integer
        message:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
    BusinessOperation:
      type: object
      required:
      - id
      - name
      - isDefault
      - balanceCents
      - createdAt
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 2
          maxLength: 64
        isDefault:
          type: boolean
        balanceCents:
          type: integer
          minimum: 0
        balanceUpdatedAt:
          type:
          - integer
          - 'null'
        createdAt:
          type: integer
    CreateCardCharge:
      type: object
      additionalProperties: false
      required:
      - amountCents
      - payerName
      - description
      - requestKey
      - name
      properties:
        amountCents:
          type: integer
          minimum: 500
          maximum: 200000
          example: 4990
        payerName:
          type: string
          minLength: 2
          maxLength: 100
        description:
          type: string
          maxLength: 200
          description: Descrição exibida no checkout
          minLength: 1
        requestKey:
          type: string
          format: uuid
          description: UUID estável para repetir esta mesma cobrança sem duplicar
        name:
          type: string
          minLength: 2
          maxLength: 80
    CardDetails:
      type:
      - object
      - 'null'
      additionalProperties: false
      properties:
        status:
          type: string
          enum:
          - processing
          - paid
          - refused
        brand:
          type: string
          enum:
          - visa
          - mastercard
          - elo
          - amex
          - hipercard
          - other
        last4:
          type:
          - string
          - 'null'
          pattern: ^\d{4}$
        installments:
          type: integer
          const: 1
        refusedReason:
          type:
          - string
          - 'null'
          maxLength: 300
        attemptsLeft:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 3
